<!-- 네비게이션바 -->
{% load board_extras %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    {% if not user|has_group:"SSG대학교" %}
                            <a class="nav-link" href="{% url 'users:logout' %}">{{ user.username }} (로그아웃)</a>
                        {% endif %} 
                     <a class="nav-link" href="{% url 'board:commonboard_list' %}">공통게시판</a>
                        {% if user|has_group:"SSG대학교" %}
                            <a class="nav-link" href="{% url 'board:privateboard2_list' %}">학교게시판</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'board:privateboard1_list' %}">학교게시판</a>
                        {% endif %}
                    {% else %}
                    <a class="nav-link" href="{% url 'users:login' %}">로그인</a>
                    <a class="nav-link" href="{% url 'users:register' %}">회원가입</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
